
<ul>
    <li>
        <a routerLink="/user/1">user number 1</a>
    </li>
    <li>
        <a  routerLink="/user/2">user number 2</a>
    </li>
    <li>
        <a routerLink="/user/3">user number 3</a>
    </li>
    <li>
        <a routerLink="/user/4">user number 4</a>
    </li>
    <li>
        <a routerLink="/user/6">user number 6</a>
    </li>
    <li>
        <a routerLink="/user/7">user number 7</a>
    </li>
    <li>
        <a routerLink="/user/8">user number 8</a>
    </li>
    <li>
        <a routerLink="/user/9">user number 9</a>
    </li>
</ul>




 
<table border="1" *ngIf="user">
<tr>
    <th>name</th>
    <th>userName</th>
    <th>email</th>
</tr>
<tr>
    <td>{{user['name']}}</td>
    <td>{{user['username']}}</td>
    <td>{{user['name']}}</td>
</tr>
</table>